/*----- Typ-selektorer -----*/
* {
    box-sizing: border-box;
    margin: 0;
}

/*----- Objekt -----*/
.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.header {
    background: #0079B4;
}

/*----- Inställningar för header top -----*/
.header-left {
    flex: 1;
}

.header-top {
    display: flex;
    align-items: center;
    width: auto;
    padding: 10px 15px 10px 15px;
    font-family: founders-grotesk, arial, sans-serif;
}

.header-top a {
    text-decoration: none;
    color: #FFFFFF;
}

.vasttrafik-logo {
    height: 1.5813rem;
}

.mobile-menu-icon {
    width: 17px;
    height: 11px;
}

.mobile-menu-text {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

/*----- Header top display none -----*/
.header-nav-list {
    display: none;
}

.header-nav-divider {
    display: none;
}

.header-nav-list .span-second-text {
    display: none;
}

.nav-right-span-style {
    display: none;
}






/* .header-nav-list .span-first-text {
    display: none;
} */

/* .header-nav-list .nav-right-span-style {
    display: none;
} */

/* .header-nav-list .nav-right-style {
    display: flex;
    margin-left: 0px;
    display: none;
} */

/* .search-icon {
    display: none;
} */

/* .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    max-width: 1440px;
} */

/* .header-container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
} */

/*----- Utility -----*/