/*---- Typ-selektorer ----*/
* {
    box-sizing: border-box;
    margin: 0;
}


/*---- Objekt ----*/
.header {
    background: #0079B4;
}

.header-top {
    display: flex;
    align-items: center;
    width: auto;
    padding: 20px 15px 20px 15px;
    font-family: founders-grotesk, arial, sans-serif;
    color: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.header-mid-nav-list {
    display: none;
}

.header-nav-divider {
    display: none;
}


/* .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    max-width: 1440px;
} */

/* .header-container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
} */


/*---- Utility ----*/
.header-logo {
    height: 1.5813rem;
}

.header-left {
    flex: 1;
}

/* .m-left-5px {
    margin-left: 5px;
}

.m-left-10px {
    margin-left: 10px;
}

.m-left-20px {
    margin-left: 20px;
} */